.test {
    border: 2px solid black;
}



* {
    font-family: 'Noto Serif TC', serif;
    /* transition: all 0.5s; */
}
.transition-500 {
    transition: all 500ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 10px;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 10px; */
}

s {
    opacity: 0.7;
    font-weight: 900;
}

i {
    font-size: 4rem;
    padding: 1rem;
    /* background-color: #1c2845;
    color: #f5f6f7; */
}

.night {
    background-color: #1c2845;
    color: #f5f6f7;
}

.day {
    background-color: #f5f6f7;
    color: #1c2845;
}

.bg-day {
    background-color: #f5f6f7;
}

.bg-night {
    background-color: #1c2845;
}

.text-night {
    color: #1c2845;
}

.text-day {
    color: #f5f6f7;
}

.min-height-80 {
    min-height: 80vh;
}

.min-height-10 {
    min-height: 10vh;
}

.min-height-20 {
    min-height: 20vh;
}
.max-height-10{
    max-height: 10vh;
}
.max-height-20 {
    max-height: 20vh;
}

.rwd-width {
    width: 80vw;
}

.max-width-100 {
    max-width: 100%;
}

.add-line {
    border-top: 5px solid black;
    margin-bottom: 10vh;
}

.add-thin-line {
    width: 100%;
    border-top: 1px solid rgb(179, 174, 174);
}



#nav {
    position: absolute;
    top: 0px;
}

.wh-400px{
    width: 400px;
    height: 400px;
}
.wh-200px{
    width: 200px;
    height: 200px;
}
.wh-300px{
    width: 300px;
    height: 300px;
}
.wh-500px{
    width: 500px;
    height: 500px;
}

.opacity-7 {
    opacity: 0.7;
}

.fade-in {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
}

.from-top {
    transform: translateY(-30%);
}

.pointer-none{
    pointer-events:none;
}
.pointer-auto{
    pointer-events: auto;
}
@media only screen and (min-width: 992px) {
    i {
        font-size: 3rem;
    }  
    .bg-day:hover {
        background-color: #1c2845;
    }
    .bg-night:hover {
        background-color: #f5f6f7;
    }
    .text-night:hover {
        color: #f5f6f7;
    }
    .text-day:hover {
        color: #1c2845;
    }
    .rwd-width {
        width: 85vw;
    }
}
@media only screen and (max-width: 992px) {

    i {
        font-size: 3rem;
    }    
    .rwd-width {
        width: 90vw;
    }
}

@media only screen and (max-width: 768px) {

    i {
        font-size: 2rem;
    }    
    .rwd-width {
        width: 90vw;
    }
}